/*Theme custom Styles*/
$app-primary-custom: #00234b !default;
$secondary-custom: #cb2d6f;

$sidebar-custom: rgba($app-primary-custom, 0.25) !default;
$sidebar-text-custom: #868e96 !default;

//-Base-scss
.custom .right-arrow {
  color: $app-primary-custom;
  &:after {
    color: $app-primary-custom;
  }
}

//- Bootstrap file Style
.custom {
  a,
  .card-link,
  .jr-link,
  .jr-link.text-primary {
    color: $app-primary-custom;
    &:focus,
    &:hover {
      color: darken($app-primary-custom, 10%);
    }
  }

  & .text-primary {
    color: $app-primary-custom !important;
  }

  & .page-link {
    color: $app-primary-custom;
    &:focus,
    &:hover {
      color: $app-primary-custom;
    }
  }

  & .page-heading .breadcrumb-item.active {
    color: $app-primary-custom;
  }

  & .bg-primary,
  & .badge-primary {
    background-color: $app-primary-custom !important;
    color: $white !important;
  }

  & .btn-primary {
    background-color: $app-primary-custom;
    border-color: $app-primary-custom;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($app-primary-custom, 5%) !important;
      border-color: darken($app-primary-custom, 5%) !important;
      color: $white !important;
    }
  }

  & .bg-primary {
    &.lighten-4 {
      background-color: #C8E6C9 !important;
    }

    &.lighten-3 {
      background-color: #A5D6A7 !important;
    }

    &.lighten-2 {
      background-color: #81C784 !important;
    }

    &.lighten-1 {
      background-color: #66BB6A !important;
    }

    &.darken-1 {
      background-color: #43A047 !important;
    }

    &.darken-2 {
      background-color: #388E3C !important;
    }

    &.darken-3 {
      background-color: #2E7D32 !important;
    }

    &.darken-4 {
      background-color: #1B5E20 !important;
    }

    &.accent-1 {
      background-color: #B9F6CA !important;
    }

    &.accent-2 {
      background-color: #69F0AE !important;
    }

    &.accent-3 {
      background-color: #00E676 !important;
    }

    &.accent-4 {
      background-color: #00C853 !important;
    }
  }
}

//Secondary
.custom {
  .jr-link.text-secondary {
    color: $secondary-custom;
    &:focus,
    &:hover {
      color: darken($secondary-custom, 10%) !important;
    }
  }

  & .text-secondary {
    color: $secondary-custom !important;
  }

  & .bg-secondary,
  & .badge-secondary {
    background-color: $secondary-custom !important;
    color: $white !important;
  }

  & .btn-secondary {
    background-color: $secondary-custom;
    border-color: $secondary-custom;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($secondary-custom, 5%) !important;
      border-color: darken($secondary-custom, 5%) !important;
      color: $white !important;
    }
  }
}

//_header.scss
.custom .app-main-header {
  background-color: $app-primary-custom !important;

  & .search-dropdown input {
    @media screen and (max-width: 991px) {
      background-color: $white;
    }
  }
}

//_right-sidebar.scss
.custom .color-theme-header {
  background-color: $app-primary-custom;
}

//_sidebar.scss
.custom .side-nav {
  background-color: $white !important;
  color: $sidebar-text-custom !important;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.15));

  & .user-profile {
    background-color: $white;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: $jr-border;
    position: relative;
    z-index: 2;
  }

  & .customizer {
    border-bottom: solid 1px lighten($sidebar-text-custom, 35%);
  }

  & .user-detail {
    & .user-name {
      color: $app-primary-custom;
    }
  }
}

.custom .nav-section {

  & .nav-header {
    color: $sidebar-text-custom;
    border-color: $gray-400;
  }
}

.custom .nav-collapse {

  & .nav-collapse-btn {
    color: $sidebar-text-custom;

    &:focus,
    &:hover {
      background-color: $white;
      color: $app-primary-custom;
    }
  }

  &.open {
    background-color: $white;

    & .nav-collapse-btn {
      background-color: $white;
      color: $app-primary-custom;

      &:focus,
      &:hover {
        background-color: $white;
        color: $app-primary-custom;
      }
    }
  }
}

.custom .nav-collapse {
  & .nav-menu-item .nav-menu-link {
    color: $sidebar-text-custom;

    &:focus,
    &:hover,
    &.active {
      background-color: $white;
      color: $app-primary-custom;
    }

    &:after {
      background-color: $app-primary-custom;
    }
  }

  &.open {
    & .nav-menu-item .nav-menu-link.active {
      background-color: $sidebar-custom;
      color: $app-primary-custom;
    }
  }
}

.custom .nav-menu-item {
  & .nav-menu-link {

    &:focus,
    &:hover,
    &.active {
      background-color: $white;
      color: $app-primary-custom;
    }
  }
}

/*Header top Navbar Styles*/
.custom .navbar-nav {
  & li {
    &:hover > a,
    &:focus > a,
    &:hover > .nav-link,
    &:focus > .nav-link {
      color: $app-primary-custom;
    }

    & a,
    & .nav-link {
      color: $sidebar-text-color;
    }

    & a:hover,
    & a:focus,
    & .nav-link:hover,
    & .nav-link:focus {
      color: $app-primary-custom;
    }
  }

  & li.nav-item > a,
  & li.nav-item > .nav-link {
    color: $white;
  }

  & li.nav-item:hover > a,
  & li.nav-item:focus > a,
  & li.nav-item > a:hover,
  & li.nav-item > a:focus,
  & li.nav-item.active > a,
  & li.nav-item:hover > .nav-link,
  & li.nav-item:focus > .nav-link,
  & li.nav-item > .nav-link:hover,
  & li.nav-item > .nav-link:focus,
  & li.nav-item.active > .nav-link {
    color: $secondary-custom;
  }

  ul.sub-menu {
    & li a.active,
    & li.active > a,
    & li .nav-link.active,
    & li.active > .nav-link {
      color: $app-primary-custom;
    }
  }

  & .nav-arrow {
    & > a:before,
    & > .nav-link:before {
      color: $sidebar-text-color;
    }

    & a:hover,
    & a:focus,
    & .nav-link:hover,
    & .nav-link:focus {
      &:before {
        color: $app-primary-custom;
      }
    }

    &:hover > a:before,
    &:focus > a:before,
    &.active > a:before,
    &:hover > .nav-link:before,
    &:focus > .nav-link:before,
    &.active > .nav-link:before {
      color: $app-primary-custom;
    }
  }
}

.custom .app-top-nav {

  & .navbar-nav {
    & li.nav-item > a,
    & li.nav-item > .nav-link {
      color: $white;
    }

    & li.nav-item:hover > a,
    & li.nav-item:focus > a,
    & li.nav-item > a:hover,
    & li.nav-item > a:focus,
    & li.nav-item.active > a,
    & li.nav-item:hover > .nav-link,
    & li.nav-item:focus > .nav-link,
    & li.nav-item > .nav-link:hover,
    & li.nav-item > .nav-link:focus,
    & li.nav-item.active > .nav-link {
      color: $secondary-custom;
    }
  }
}

.custom .app-header-horizontal {
  & .app-main-header-top {
    @include box-shadow(none !important);
  }
}

.custom .header-notifications .app-notification {
  & .jr-list-link {

    @include hover-focus-active {
      color: $app-primary-custom;
      border-color: $app-primary-custom;
    }
  }
}

//_app-module.scss
.custom .module-nav {
  & li {
    & a.active {
      border-color: $app-primary-custom;
    }

    & .jr-link.active {
      color: $app-primary-custom;
    }
  }
}

//_calendar.scss
.custom .rbc-event {
  background-color: $app-primary-custom;
}

.custom .rbc-event.rbc-selected {
  background-color: darken($app-primary-custom, 10%);
}

.custom .rbc-slot-selection {
  background-color: rgba($app-primary-custom, 0.7);
}

.custom .rbc-toolbar button:active,
.custom .rbc-toolbar button.rbc-active {
  background-color: rgba($app-primary-custom, 0.9);
  border-color: $app-primary-custom;
}

.custom .rbc-toolbar button:active:hover,
.custom .rbc-toolbar button.rbc-active:hover,
.custom .rbc-toolbar button:active:focus,
.custom .rbc-toolbar button.rbc-active:focus {
  background-color: rgba($app-primary-custom, 0.9);
  border-color: $app-primary-custom;
}

.custom .rbc-toolbar button:focus {
  background-color: rgba($app-primary-custom, 0.9);
  border-color: $app-primary-custom;
}

.custom .rbc-toolbar button:hover {
  background-color: rgba($app-primary-custom, 0.9);
  border-color: $app-primary-custom;
}

//_chat.scss
.custom .chat-sidenav-title {
  color: $app-primary-custom;
}

.custom .chat-user-item {
  &.active,
  &:hover {
    background-color: lighten($app-primary-custom, 45%);
  }
}

//_dashboard.scss
.custom .contact-list {
  & i {
    color: $app-primary-custom;
  }
}

//The link which when clicked opens the collapsable ChatUserList
.custom .Collapsible__trigger {
  background: $app-primary-custom;
}

.custom .categories-list {
  & li a:focus,
  & li a:hover,
  & li.active a {
    color: $app-primary-custom;
  }
}

//_login.scss
.custom .login-content .form-control {
  &:focus {
    border-color: $app-primary-custom;
  }
}

//_portfolio.scss
.custom .filter-with-bg-color ul li {
  .jr-link {
    border-color: $app-primary-custom;

    &:hover,
    &:focus,
    &.active {
      background-color: $app-primary-custom;
    }
  }
}

//_card.scss
.custom .profile-intro {
  & .icon {
    color: $app-primary-custom;
  }
}

.custom .social-link {
  & li.active a,
  & li a:hover,
  & li a:focus {
    color: $secondary-custom;
  }
}

//_tables.scss
.custom .actions {
  color: $secondary-custom;
}

.custom .table-hover tbody tr:hover {
  background-color: rgba($app-primary-custom, 0.075);
}

//Border Color

.custom .border-primary {
  border-color: $app-primary-custom !important;
}

// login page content

.custom .app-logo-content {
  background-color: $app-primary-custom;
}

.custom .app-social-block {
  & .social-link button {
    border: solid 1px $app-primary-custom;
    color: $app-primary-custom;

    &:hover,
    &:focus {
      color: $white;
      background-color: $app-primary-custom;
    }
  }
}

/*Button Group Styles*/
.custom .btn-group,
.custom .btn-group-vertical {
  > .jr-btn {
    &.active {
      background-color: $app-primary-custom;
      border-color: $app-primary-custom;
    }
  }

  > .jr-flat-btn {
    background-color: transparent;
    border-color: transparent;
    &.active {
      background-color: transparent;
      color: $app-primary-custom;
      &:hover,
      &:focus {
        background-color: rgba($app-primary-custom, 0.12);
        color: $app-primary-custom;
      }
    }
  }
}

/*Classic Dashboard Styles*/
.custom .jr-fillchart-btn-close,
.custom .jr-onchart .jr-badge-up,
.custom .jr-task-list-item:hover .jr-text-hover {
  color: $app-primary-custom;
}

.custom .jr-entry-title:before {
  background-color: $app-primary-custom;
}

.custom .jr-card-ticketlist {
  & .jr-task-list-item:hover .jr-task-item-title,
  .jr-link {
    color: $app-primary-custom;
  }
}

.custom .slick-dots li.slick-active button:before {
  border-color: $app-primary-custom;
}

//Nav Styles
.custom .nav-pills .nav-link.active,
.custom .nav-pills .show > .nav-link {
  color: $white !important;
  background-color: $app-primary-custom;
}

// Gradient Color Class
.custom .bg-gradient-primary {
  @include gradient-directional($app-primary-custom, lighten($app-primary-custom, 16%), 0deg);
}

.custom .bg-gradient-primary-x {
  @include gradient-x(darken($app-primary-custom, 10%), lighten($app-primary-custom, 16%), 70%, 100%);
}

//Profile style
.custom .jr-profile-banner {
  background-color: $app-primary-custom;
  color: $white;

  & .jr-link {
    color: $white;

    &:hover,
    &:focus {
      color: $secondary-custom;
    }
  }
}

.custom .dropdown-item {

  &.active,
  &:active {
    background-color: $app-primary-custom;
    color: $white;
  }

  &[class*="text-"] {

    &.active,
    &:active {
      background-color: transparent;
    }
  }
}
