.font-size-12 {
  font-size: 12px !important;
}

.round-button {
  border-radius: 50px !important;
}

.round-button:hover {
  background-color: #eaeaea !important;
}

.slick-dots-custom {
  margin-top: 200px;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


.dark-indigo .slick-dots-custom li.slick-active button:before {
  border-color: #3f51b5;
}
 .slick-dots-custom li.slick-active button:before {
   color: transparent !important;
   border-color: #3f51b5;
   width: 12px !important;
   height: 12px !important;
   line-height: 12px !important;
 }

 .slick-dots-custom li.slick-active button:before {
   opacity: .75;
   color: black;
 }

 .slick-dots-custom li button:before {
   width: 10px !important;
   height: 10px !important;
   line-height: 10px !important;
   color: transparent !important;
   border: solid 2px #000;
   border-radius: 50%;
 }

 .slick-dots-custom li button:before {
   font-family: 'slick';
   font-size: 6px;
   line-height: 20px;
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   content: '•';
   text-align: center;
   opacity: .25;
   color: black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

@media (min-width: 992px) {
  .custom-dialog {
    width: 1050px !important;
  }
}

.custom-dialog-2 {
  width: 550px !important;
}

 .border-right-3 {
   border-right-width: 10px;
 }

 .abzx {
   //height: 150px;
 }

 .jr-btn-fab-md {
   height: 43px !important;
   width: 43px !important;
   border-radius: 20% !important;
   //border: solid #3f51b5 1px !important;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
 }

 .card-border {
   //border: solid #dedede 1px;
   //border-radius: 7px;
   //background: aliceblue;
   //padding: 10px 0;
 }

 //img {
 //  border-radius: 0.375rem;
 //}

.cover {
  width: 100%;
  object-fit: cover;
}


.table-container {
  height: 100%;
}

.table-header-cell-sticky {
  position: sticky;
  top: 0;
  background: white;
  font-size: 5px;
  z-index: 5;
}

.absolute-fit {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-transparent-white {
  background: rgba(255, 255, 255, 0.7);
}

.auction-items-table-container {
  max-height: 175px;
}


@media (min-width: 992px) {
  .session-info-dialog {
    width: 55vw !important;
    max-height:100vh !important;
  }
}

.appointments-table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}