.ticket {
    font-size: 14px;
    font-family: 'Times New Roman';
    color: black;
    margin-left: -30px;
    font-weight: bold;
    width: 185px;
}

.topboarder{
    border-top: 0.5px solid black;
    border-collapse: collapse;
    width: 185px;
    margin-left: 0px;
}


#title2{
    font-size: 12px;
    background-color: white;
    font-weight: normal;
}


.totalFee{
    width: 90px;
    max-width: 90px;
    font-size: 13px;
    font-weight: bold;
}

.quantity {
    width: 100px;
    /*width: 75px;*/
    font-size: 11px;
    word-break: break-all;
    font-weight: normal;
}

.price {
    width: 150px;
    /*max-width: 90px;*/
    font-size: 11px;
    word-break: break-all;
    font-weight: normal;
    margin-left: -15px;
}

.boldFont{
 font-weight: bold;
}


.centered {
    text-align: center;
    align-content: center;
}


img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
